/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#625295, #e07985) no-repeat;
}

.main-section-x {
  padding: 0 42px;
}

h1,
h2 {
  font-family: "Baloo Bhaina 2", cursive;
}

h2 {
  font-size: 1.8rem;
}

p {
  line-height: 1.8;
}

.gradient-line {
  background: linear-gradient(to right, #eaa7b2, #aa9cc7, #8fc6ed);
  width: 130px;
  height: 3px;
  margin: 0 auto 25px;
  border-radius: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 45px;
  border-radius: 8px;
  text-align: center;
  display: block;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.learn-more-btn {
  color: rgb(156, 154, 154);
  border: 1px solid rgb(156, 154, 154);
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 50px 0;
  padding: 0;
}

/* Global End */

/* Hero */
.hero {
  color: whitesmoke;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero img {
  width: 100px;
  border-radius: 50%;
}

.hero h1 {
  margin: 15px 0;
  letter-spacing: 5px;
  font-size: 2.5rem;
}

/* Main */
main {
  background: #fff;
  color: #262626;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Navigation */
nav {
  z-index: 2;
  display: none;
  position: sticky;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

nav ul {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav li {
  list-style-type: none;
}

nav a {
  color: #262626;
  text-decoration: none;
  margin-left: 15px;
}

/* Capture Section */
.capture {
  padding-top: 42px;
}

.capture img {
  border: 1px solid #cacaca;
  padding: 10px;
  border-radius: 50%;
  width: 85%;
  box-sizing: border-box;
}

.capture h2 {
  margin-top: 15px;
}

.capture p {
  margin-bottom: 25px;
}

/* Skills */
.skills .fa-code {
  color: #efa8b0;
}

.skills .fa-copy {
  color: #a89cc8;
}

.skills .fa-gem {
  color: #8cc9f0;
}

.skills .skill-icon {
  border: 10px double #e2e2e2;
  border-radius: 50%;
  font-size: 60px;
  padding: 30px;
  height: 65px;
  width: 65px;
  box-sizing: content-box;
}

.skills h3 {
  margin: 15px 0;
}

.skills p {
  margin-bottom: 50px;
}

/* Projects */

.project-stats {
  margin-top: 40px;
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-stats .project-icon {
  font-size: 60px;
  height: 65px;
  width: 65px;
}

.project-stats p {
  margin-top: 15px;
  font-size: 2.8rem;
  font-family: "Source Sans Pro", sans-serif;
}

.project-stats .project-set {
  padding: 40px;
}

.project-stats .connection {
  background: #efa8b0;
}

.project-stats .management {
  background: #c79cc8;
}

.project-stats .reach {
  background: #a89cc8;
}

.project-stats .applications {
  background: #9bb2e1;
}

.project-stats .bonus {
  background: #8cc9f0;
}

.projects .project-description {
  text-align: justify;
  margin: 30px 0;
}

/*  Get Started  */
#get-started-section {
  padding-bottom: 50px;
}

.get-started .get-started-btn {
  color: #fff;
  background: #8cc9f0;
  text-decoration: none;
  border-radius: 8px;
  display: block;
  margin: 25px 0 10px 0;
}

/* Footer */
#footer {
  color: #fff;
  padding-bottom: 50px;
}

footer .left-col {
  margin-bottom: 50px;
}

footer p {
  margin: 10px 0 25px 0;
}

footer .learn-more-btn {
  color: #f0c4ca;
  border: 1px solid #f0c4ca;
}

footer .learn-more-btn:hover {
  background: #e08690;
}

footer dt {
  float: left;
  font-weight: bold;
}

footer dd {
  margin: 0 0 15px 80px;
}

footer .social-icons {
  margin: 40px 0;
  text-align: center;
  font-size: 25px;
}

footer .social-icon {
  border: 1px solid #f0c4ca;
  color: #f0c4ca;
  border-radius: 50%;
  box-sizing: content-box;
  height: 20px !important;
  width: 20px !important;
  padding: 8px;
  margin-left: 5px;
}

footer .social-icon:hover {
  background: #e08690;
}

footer small {
  text-align: center;
  display: block;
}

/* ============
  Media Queries 
  =============*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .hero {
    height: 80vh;
  }

  .hero h1 {
    margin: 15px 0;
    letter-spacing: 5px;
    font-size: 3.5rem;
  }

  .main-section-x {
    padding: 0 50px;
  }

  main {
    margin: 20px 30px;
  }

  nav {
    display: block;
  }

  .capture {
    padding-top: 60px;
  }

  .capture img {
    border-radius: 50%;
    width: 80%;
  }

  footer {
    color: #fff;
    padding: 38px 38px 50px 38px;
  }

  footer .learn-more-btn {
    display: inline-block;
  }

  footer .social-icon {
    padding: 12px;
    margin-left: 5px;
    height: 30px !important;
    width: 30px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
